# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures
/[Mm]emoryCaptures/

# Recordings
/[Rr]ecordings/

# Asset Store tools
/[Aa]ssets/AssetStoreTools*

# Visual Studio cache directory
.vs/

# Rider
.idea/

# OS
.DS_Store
*.swp
*.swo
*~
Thumbs.db

# Build
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crashlytics
crashlytics-build.properties
